$dark-gray: #1c1c1c;
$dark-gray2: #1d1d1d;
$white: #ffffff;
$black: #000000;
$light-gray: #363636;
$light-gray2: #b6b6b6;
$light-gray3: #3c3c3c;
$yellow: #cc9601;
$red: #c62828;
$light-gray4: #1a1b1c;
$black-alpha50: rgba(0, 0, 0, 0.5);

// $white: #ffffff;
// $black:#000000;
// $lightGray1: #e5e5e5;
// $lightGray2: #b6b7c0;
// $lightGray3: #cccdd9;
// $lightGray4: #747885;
// $pink1: #f72585;
// $blue1: #353B4D;
// $blue2: #1F263A;
// $navyBlue: #131b2f;
// $lightGray1_rgba: rgba(182, 183, 192, 1);
// $lightGray2_rgba : rgba(68, 73, 90, 1);
// $lightGray3_rgba:rgba(182, 183, 192, 0.2);
// $lightGreen1: rgb(165, 205, 40);
// $lightGreen1_rgba: rgba(165, 205, 40, 1);
// $lightGreen2_rgba: rgba(105, 165, 7, 1);
// $black1_rgba: rgba(0, 0, 0, 0.16);
