$white: #ffffff;
$lightGray1: #e5e5e5;
$lightGray2: #b6b7c0;
$lightGray3: #cccdd9;
$lightGray4: #747885;
$pink1: #f72585;
$blue1: #353B4D;
$blue2: #1F263A;
$navyBlue: #131b2f;
$lightGray1_rgba: rgba(182, 183, 192, 1);
$lightGray2_rgba : rgba(68, 73, 90, 1);
$lightGray3_rgba:rgba(182, 183, 192, 0.2);
$lightGreen1: rgb(165, 205, 40);
$lightGreen1_rgba: rgba(165, 205, 40, 1);
$lightGreen2_rgba: rgba(105, 165, 7, 1);
$black1_rgba: rgba(0, 0, 0, 0.16);
