@import "./../../../assets/scss/colors";

.contactUs {
  p,
  label,
  .terms {
    color: $light-gray2;

    u {
      color: $white;
    }
    & + div {
      @extend .errorStyle;
    }
  }

  .inputStyle {
    background-color: $light-gray3;
    color: $white;
    border: 1px solid $light-gray3;
  }
  .errorStyle {
    font-size: 12px;
    color: $red;
  }

  input,
  input[type="email"],
  textarea {
    @extend .inputStyle;
    &:focus {
      @extend .inputStyle;
    }
    & + span {
      @extend .errorStyle;
    }
  }
  .form-check-input:checked {
    background-color: $black;
  }
  button:not(:disabled) {
    background-color: $yellow;
    width: 200px;
    color: $white;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .mt-xs-4 {
    margin-top: 1.5rem;
  }
}
