.btn-close-custom {
  text-align: right;
  position: absolute;
  right: 60px;
}

.btn-delete-custom {
  text-align: right;
  position: absolute;
  right: 12px;
  top: 0;
  padding: 10px;
  border-radius: 0;
  background-color: white;
}

.mt-xs-4 {
  @media (min-width: 375px) and (max-width: 576px) {
    margin-top: 1.5rem !important;
  }
}
