@import "./assets/scss/_normalize.scss";
@import "./assets/scss/_genericClass.scss";
@import "./assets/scss/_colors.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: $black;
}

.container {
  width: 1280px;
  margin: 0 auto;
  @media (min-width: 320px) and (max-width: 768px) {
    width: auto;
    margin: 0 12px;
  }
}
