@import "./../../../assets/scss/colors";

.sideNavSection {
  //   width: 300px;
  height: 100%;
  background: $black;
  position: fixed;
  top: 0;
  right: -300px;
  overflow: hidden;
  padding: 20px 60px 20px 20px;
  transition: right 0.5s;

  &.open {
    right: 0;
    transition: right 0.5s;
  }

  .navbar-nav {
    .nav-link {
      color: $white;
      padding: 10px 20px;

      &:hover {
        background-color: $lightGray4;
        color: $white;
      }
    }
  }

}
